* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    /* display: flex; */
    /* justify-content: center; */
    background: #f7f7f7;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.site-header {
    width: 100%;
    background: #111;
    padding: 14px 20px;

    display: flex;
    justify-content: center;
}

.site-header nav {
    display: flex;
    gap: 20px;
}

.site-header nav a {
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
}

.site-header nav a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .site-header nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
